@model LinkedCRM.Models.Schedule

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.EmployeeFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.EmployeeFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lead.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lead.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduleDateAndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleDateAndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attendees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduleType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CallType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CallType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ScheduleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
