@model IEnumerable<LinkedCRM.Models.Schedule>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.EmployeeFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lead.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleDateAndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attendees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CallType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.EmployeeFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lead.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduleDateAndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Attendees)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduleType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CallType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ScheduleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ScheduleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ScheduleId })
        </td>
    </tr>
}

</table>
